body {
    background-color: #ccc;
}
.container {
    background-color: white;
}
main {
    padding: 30px 0;
}
.colPad {
    padding: 30px;
}
.blueBg {
    background-color: #007bff;
    color: white;
}
h1, h3 {
    text-align: center;
}
h4 {
    text-align: center;
    width: 100%;
    padding: 5px;
}

.btnCrystal {
    background-color: transparent;
    border: none;
}
.marginBottom {
    margin-bottom: 30px;
}
.center {
    text-align: center;
}
.borderRight {
    border-right: #666 solid 1px;
}